.data-container {
    background-color: #666;
    margin: 10px;
    padding: 10px 20px;
    color: #ffffff;
}
.input-data {
    position: relative;
}

.input-data textarea {
    width: calc(100% - 10px);
    height: 200px;
    resize: vertical;
    overflow: auto;
    padding-left: 5px;
    border-color:#ccc;
}

.input-data > button {
    width: 100%;
    margin: 10px 0;
    color: #ffffff;
    background-color: #009ddc;
    border-color: #008bc3;
    height: 30px;
    font-size: 18px;
    position: relative;
}

.border-radius {
    border-radius: 5px;
}

.json-data {
    padding: 10px;
    background-color: white;
}

.error {
    color: #ff000b;
    position: absolute;
    right: 2px;
    top: 22px;
    font-size: 12px;
    background-color: white;
    padding:  2px 10px;
}
