.data-container {
    background-color: #666;
    margin: 10px;
    padding: 10px 20px;
    color: #ffffff;
}

.loading {

}

.input-data textarea {
    width: 100%;
    height: 200px;
    resize: vertical;
    overflow: auto;
}

.input-data > input[type=submit] {
    width: 100%;
    margin: 10px 0;
    color: #ffffff;
    background-color: #009ddc;
    border-color: #008bc3;
    height: 30px;
    font-size: 18px;
}

.border-radius {
    border-radius: 5px;
}

.json-data {
    padding: 10px;
    background-color: white;;
}
